@model AccountViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5">    
    <table class="table table-stripped table-bordered table-sm">
        <tr>
            <th>Username</th>
            <th>Membership Start</th>
            <th>Membership End</th>
            <th>Wallet</th>
            <th>Status</th>            
            <th class="text-center">Actions</th>
        </tr>

        @foreach (var user in Model.User)
            {
                <partial name="_UsersPartial" model="user" />
            }

    </table>
</div>

<partial name="_ReturnButtonsPartial" />


