@using Microsoft.Extensions.Primitives;

<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
@{ var referrer = this.Context.Request.Headers["Referer"]; }

@if (referrer != default(StringValues))
{
    <a href="@referrer.ToString()" class="btn btn-outline-primary">Back</a>
}