@model AuthorViewModel
@using Microsoft.Extensions.Primitives
@{
    ViewData["Title"] = "AuthorDetail";
}

<div>
    <h3>@Model.AuthorName</h3>
    <hr />
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>
                <a asp-controller="BookManagement" asp-action="BookDetails" asp-route-id="@book.ISBN">@book.Title</a>
            </li>
        }
    </ul>
</div>

<partial name="_ReturnButtonsPartial" />

