@model SearchViewModel
@using Microsoft.Extensions.Primitives;
@{
    ViewData["Title"] = "SearchResults";
}

    <div class="row mt-5">
        <form class="col-lg-10" asp-controller="SearchBooks" asp-action="SearchResults" method="post">
            <div class="row">
                <div class="col-sm-9">
                    <input asp-for="@Model.SearchName" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-info">Search!</button>
                </div>
            </div>
            <p></p>
            <p></p>
        </form>

        @if (!Model.BookSearchResults.Any())
        {
            <p class="alert alert-info">There are no books</p>
        }
        else
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th>Year</th>
                        <th>Rack</th>
                        <th>Rating</th>

                        @if (User.IsInRole("admin"))
                        {
                            <th>Copies</th>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <th class="text-center">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.BookSearchResults)
                    {
                        <partial name="_BooksPartial" model="book" />
                    }
                </tbody>
            </table>
        }
    </div>

    <partial name="_ReturnButtonsPartial" />

