@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

<h3>Checked Out Books</h3>


<table class="table table-stripped table-bordered table-sm">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Rating</th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach (var book in Model.CheckedoutBooks)
    {
        <partial name="_BooksReservations" model="book" />
    }

</table>
